#picture_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.picture_image
				= image_tag @picture.image.url
			.panel-body
				%p.description= @picture.description
			.panel-footer
				.row
					.col-md-6
						%p.user
							Submitted by
							= @picture.user.email
					.col-md-6
						.btn-group.pull-right
							- if user_signed_in?
								= link_to "Edit", edit_picture_path, class: "btn btn-default"
								= link_to "Delete", picture_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
